@font-face {
    font-family: 'JurassicPark';
    src: url('../assets/fonts/JurassicPark-BL48.ttf')  format('truetype');
  }

@font-face {
    font-family: 'TrainTrack';
    src: url('../assets/fonts/Kballaboard-ey9e.ttf') format('truetype');
}

@font-face {
    font-family: 'Train';
    src: url('../assets/fonts/Rmblock-A46x.ttf') format('truetype');
}

@font-face {
    font-family: 'Kid';
    src: url('../assets/fonts/BalonkuRegular-la1w.otf') format('truetype');
}

@font-face {
    font-family: 'HarryPotter';
    src: url('../assets/fonts/HARRYP__.ttf') format('truetype');
}
header {
    font-family: 'Kid';
    color: whitesmoke;
    text-align: center;
    font-size: 4em;
    background-color: blue;
    padding: 0.25em;
    border-radius: 20px, 20px, 0px, 0px;
}

h1 {
    text-align: center;
    padding: .5em;
    margin:0;
    font-size: 8em;
}

p {
    text-align: center;
    width: 35%;
    margin: auto;
    margin-bottom: 1em;
    color: brown;
    font-size: 30px;
}

.bottom-paragraph {
    padding-top: 1em;
    padding-bottom: 3em;
    margin-bottom: 0;
    text-align:center;
    font-size: 4em;
}
.train {
    margin: 0;
    color: brown;
    font-family: 'TrainTrack', 'Times New Roman', Times, serif;
    background: url('../assets/images/europe_train.jpg');
    background-size: cover;

}

.train img {
    display: block;
    width: 25%;
    height: 25%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border: solid black 3px;
}
.train-button{
    color:white;
    background-color: blue;
    width: 15%;
    border: solid white 3px;
    border-radius: 5px;
    text-align: center;
    margin: 2em auto;
    padding: 0.5em;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.train-button:hover {
    cursor: pointer;
    background-color: darkgrey;
}

.dinosaur {
    margin: 0px;
    font-size: 30px;
    color: orangered;
    font-family: 'JurassicPark';
    background: url('../assets/images/purnomo-capunk-KZC7BJo0Cl0-unsplash.jpg');
    background-size: cover;
}

.dinosaur img {
    display: block;
    width: 25%;
    height: 25%;
    margin: auto;
    border-radius: 20px;
    border: solid black 3px;    
    
}

.dinosaur-button{
    background-color: black;
    width: 15%;
    border: solid orange 3px;
    border-radius: 5px;
    text-align: center;
    margin: 2em auto;
    padding: 0.5em;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.dinosaur-button:hover {
    cursor: pointer;
    background-color: darkorange;
}

.harry-potter {
    margin: 0;
    color: gold;
    font-family: 'HarryPotter', 'Times New Roman', Times, serif;
    background: url('../assets/images/hogwarts.jpg');
    background-size: cover;
    font-size: 3em;
}

.harry-potter img {
    display: block;
    width: 25%;
    height: 25%;
    margin: auto;
    border-radius: 20px;
    border: solid black 3px;    
}

.harry-button {
    color: gold;
    background-color: crimson;
    width: 15%;
    border: solid black 3px;
    border-radius: 5px;
    text-align: center;
    margin: 2em auto;
    padding: 0.5em;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.harry-button:hover {
    cursor: pointer;
    background-color: darkorange;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}